<div class="alert alert-block alert-info">
    <br><font face = "Times New Roman" size = "6"><b><center>PROYECTO FINAL</center></b></font>
    <br><font face = "Times New Roman" size = "5"><b><center>Asignatura: Ing. de Características - Maestría en Informática Aplicada</center></b></font>
    <br><font face = "Times New Roman" size = "4"><center>Profesor: Mtro. Gaddiel Desirena López</center></font>
    <font face = "Times New Roman" size = "4"><center>Alumnos:</center></font>
    <font face = "Times New Roman" size = "4"><center>Vanessa Suárez Blanco</center></font>
    <font face = "Times New Roman" size = "4"><center>Pedro Ibarra González</center></font>
        <font face = "Times New Roman" size = "4"><center>09 de Mayo de 2024</center></font>
</div>

Actualmente, con los avances en las tecnologías de la información, la generación de datos de diversos tipos en un solo día tiene volúmenes muy altos y con tendencia creciente. Con el fin del aprovechamiento de la información valiosa que pueda estar oculta en los datos que se generan, se requieren tener conocimientos básicos de manejo de información, ingeniería de características y de análisis exploratorio de datos.

De forma general, a menos que la persona sea una experta en el fenómeno en el cual se están generando los datos, el ingeniero que se disponga al análisis de los datos generados debe de realizar un análisis exploratorio para rescatar las características básicas que poseen los datos


El objetivo del proyecto final es realizar un Análisis Exploratorio de Datos (EDA) a la base de datos asignada o elegida por el equipo y realizar las siguientes actividades:


1.- Aplicar las técnicas y algoritmos vistos en los tres parciales del curso:

-  Identificación de datos
-  Tratamiento de datos faltantes 
-  Codificación de variables categóricas 
-  Transformación de variables numéricas
-  Escalamiento de variables 
-  Discretización de variables


2.- Del dataframe obtenido realizar una clusterización mediante los algoritmos 
-  Kmeans++
-  Arboles de decisión
-  Clustering jerárquico. 

Obtenga gráficas y comentarios de sus resultados.


3.- Finalmente, del conjunto de datos, identificar la o las variables de salida y las variables de entrada para entrenar algún algoritmo de ML (Arboles de desición, Regresiones lineales, etc… ), se requiere obtener un accuracy arriba del 80%, si el accuracy está por debajo de este valor, entonces será necesario repetir el punto 1.

In [1]:
#Borrar después
#Entregables:

#• Presentación con diapositivas

#• Reporte que valide la realización del proyecto.

#• Código en Jupyter notebook del proceso del proyecto, analíticas, comentarios y gráficas

El conjunto de datos de LinkedIn proporcionado contiene **7,927 filas y 15 columnas**, ofreciendo una visión general completa de las ofertas de empleo en la plataforma. 

Los datos se pueden utilizar para análisis de datos, visualización e investigación. Las ofertas de empleo incluyen roles de Analista de Datos, Ingeniero de Aprendizaje Automático, Servicios de TI y Consultoría de TI, ubicados en diversos lugares del mundo, con salarios y horarios de trabajo variados. 

El conjunto de datos incluye información sobre la empresa, las responsabilidades del rol y las habilidades requeridas para cada empleo. Este conjunto de datos es un recurso valioso para comprender las oportunidades laborales en diferentes industrias y ubicaciones.

Descripciones de las columnas:
- **job_ID**: Identificador único para cada oferta de empleo.
- **job**: El título de la oferta de empleo.
- **location**: La ubicación de la oferta de empleo.
- **company_id**: El identificador único de la empresa que ofrece el empleo.
- **company_name**: El nombre de la empresa que ofrece el empleo.
- **work_type**: El tipo de trabajo ofrecido (por ejemplo, tiempo completo, tiempo parcial, etc.).
- **full_time_remote**: Indica si el empleo es una posición remota a tiempo completo.
- **no_of_employ**: El número de empleados en la empresa que ofrece el empleo.
- **no_of_application**: El número de solicitudes recibidas para el empleo.
- **posted_day_ago**: El número de días desde que se publicó el empleo.
- **alumni**: Indica si la oferta de empleo es para exalumnos de una determinada organización.
- **Hiring_person**: El nombre de la persona responsable de contratar para el empleo.
- **linkedin_followers**: El número de seguidores en LinkedIn de la persona que contrata.
- **hiring_person_link**: Un enlace al perfil de LinkedIn de la persona que contrata.
- **job_details**: Información detallada sobre el empleo, incluyendo responsabilidades y requisitos.

### 1.- Aplicar las técnicas y algoritmos vistos en los tres parciales del curso:

#### Conocimiento de los datos

In [2]:
# Importar Librerias de toda la tarea
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split

In [3]:
# Cargamos el df de LinkedIn desde un archivo CSV
df = pd.read_csv('./linkedin.csv')

# Mostramos las pirmeras linas para familiarizarnos los datos
df.head()

,job_ID,job,location,company_id,company_name,work_type,full_time_remote,no_of_employ,no_of_application,posted_day_ago,alumni,Hiring_person,linkedin_followers,hiring_person_link,job_details,Column1
0,3471657636,"Data Analyst, Trilogy (Remote) - $60,000/year USD","Delhi, Delhi, India",NaN,Crossover,Remote,Full-time · Associate,"1,001-5,000 employees · IT Services and IT Con...",200,8 hours,12 company alumni,NaN,"5,395,547 followers",NaN,About the job Crossover is the world's #1 sour...,NaN
1,3471669068,"Data Analyst, Trilogy (Remote) - $60,000/year USD","New Delhi, Delhi, India",NaN,Crossover,Remote,Full-time · Associate,"1,001-5,000 employees · IT Services and IT Con...",184,8 hours,12 company alumni,NaN,"5,395,547 followers",NaN,About the job Crossover is the world's #1 sour...,NaN
2,3474349934,Data Analyst - WFH,Greater Bengaluru Area,NaN,Uplers,Remote,Full-time · Mid-Senior level,"1,001-5,000 employees · IT Services and IT Con...",200,9 hours,3 company alumni,Shahid Ahmad,NaN,https://www.linkedin.com/in/shahid-ahmad-a2613...,About the job Profile: ML EngineersExperience:...,NaN
3,3472816027,Data Analyst,"Gurugram, Haryana, India",NaN,PVAR SERVICES,On-site,Full-time,1-10 employees,200,7 hours,NaN,Vartika Singh,"2,094 followers",https://www.linkedin.com/in/vartika-singh-,About the job Designation: Data AnalystLocatio...,NaN
4,3473311511,Data Analyst,"Mohali district, Punjab, India",NaN,Timeline Freight Brokers,On-site,Full-time,1-10 employees,8,26 minutes,1 company alumni,Manisha (Gisele Smith),NaN,https://www.linkedin.com/in/manisharathore0029,About the job The ideal candidate will use the...,NaN

In [4]:
df.info()

#Por los resultados percibimos que hay valores nulos.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7927 entries, 0 to 7926
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   job_ID              7927 non-null   int64
 1   job                 7894 non-null   object
 2   location            7894 non-null   object
 3   company_id          0 non-null      float64
 4   company_name        7892 non-null   object
 5   work_type           7736 non-null   object
 6   full_time_remote    7848 non-null   object
 7   no_of_employ        7603 non-null   object
 8   no_of_application   7887 non-null   object
 9   posted_day_ago      7920 non-null   object
 10  alumni              4858 non-null   object
 11  Hiring_person       5720 non-null   object
 12  linkedin_followers  4814 non-null   object
 13  hiring_person_link  5720 non-null   object
 14  job_details         7881 non-null   object
 15  Column1             0 non-null      float64
dtypes: float64(2), int64(1), object(13)
memory usage: 991.0+ KB

In [5]:
valores_unicos = df.nunique()

# Mostrar el número de valores únicos para cada columna
print(valores_unicos)

job_ID                5843
job                   2991
location               151
company_id               0
company_name          2495
work_type                3
full_time_remote        23
no_of_employ           269
no_of_application      202
posted_day_ago          91
alumni                 191
Hiring_person         2823
linkedin_followers    3935
hiring_person_link    2845
job_details           4563
Column1                  0
dtype: int64

In [6]:
df.describe()

             job_ID  company_id  Column1
count  7.927000e+03         0.0      0.0
mean   3.466724e+09         NaN      NaN
std    5.778011e+07         NaN      NaN
min    1.419216e+08         NaN      NaN
25%    3.467367e+09         NaN      NaN
50%    3.471882e+09         NaN      NaN
75%    3.476181e+09         NaN      NaN
max    3.477823e+09         NaN      NaN

In [7]:
#Drop de Column1 y Company_id ya que es una columna totalmente vacia, no tiene datos sólo el header
df.drop('Column1', axis=1, inplace=True)
df.drop('company_id', axis=1, inplace=True)

### Identificación de datos

#### Variables Binarias
alumni_binary: Indica la presencia (1) o ausencia (0) de exalumnos, derivado de la columna alumni.

#### Variables Nominales
-  job: El título de la oferta de empleo.
-  location: Ubicación de la oferta de empleo.
-  company_name: Nombre de la empresa que ofrece el empleo.
-  work_type: Tipo de trabajo ofrecido (e.g., tiempo completo, tiempo parcial).
-  full_time_remote: Indica si el empleo es a tiempo completo y remoto o no.

#### Variables Ordinales
-  full_time_remote: Podría considerarse ordinal si las categorías implican un orden de tipo de contrato o nivel de senioridad (e.g., Asociado vs. Nivel Senior).

#### Variables Numéricas
-  job_ID: Identificador único para cada oferta de empleo.
-  no_of_application_clean: Número de aplicaciones, extraído y convertido a formato numérico.

In [8]:
# Extracción de números para 'no_of_application'
df['no_of_application_clean'] = df['no_of_application'].str.extract('(\d+)').astype(float)

# Considerando 'alumni' como binaria, donde no NaN implica la presencia de alumni (1) y NaN la ausencia (0)
df['alumni_binary'] = df['alumni'].notna().astype(int)

# Identificación de variables numéricas, binarias, nominales y ordinales
# Variables numéricas: Aquellas columnas que son float o int después de limpieza y conversión
numeric_columns_df = df.select_dtypes(include=['int64', 'float64']).columns.tolist()

# Variables binarias: Aquellas que tienen solo dos valores únicos y probablemente sean booleanas
binary_columns_df = [col for col in df.columns if df[col].nunique() == 2]

# Variables nominales y ordinales: Aquellas que contienen texto o categorías
# Para simplificación, aquí se consideran nominales las columnas de texto sin un orden explícito y ordinales las que puedan tener un orden lógico
nominal_columns_df = ['job', 'location', 'company_name', 'work_type', 'full_time_remote']
ordinal_columns_df = ['full_time_remote']  # Este es un ejemplo, podría necesitar revisión

# Imprimir resultados
print("Variables Numéricas:", numeric_columns_df)
print("Variables Binarias:", binary_columns_df)
print("Variables Nominales:", nominal_columns_df)
print("Variables Ordinales:", ordinal_columns_df)

Variables Numéricas: ['job_ID', 'no_of_application_clean', 'alumni_binary']
Variables Binarias: ['alumni_binary']
Variables Nominales: ['job', 'location', 'company_name', 'work_type', 'full_time_remote']
Variables Ordinales: ['full_time_remote']

#### Tratamiento de datos faltantes

In [9]:
pip install pandas fuzzywuzzy python-Levenshtein

Requirement already satisfied: pandas in /Users/vksuarez/anaconda3/lib/python3.11/site-packages (2.1.4)
Requirement already satisfied: fuzzywuzzy in /Users/vksuarez/anaconda3/lib/python3.11/site-packages (0.18.0)
Requirement already satisfied: python-Levenshtein in /Users/vksuarez/anaconda3/lib/python3.11/site-packages (0.25.1)
Requirement already satisfied: numpy<2,>=1.23.2 in /Users/vksuarez/anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/vksuarez/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/vksuarez/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/vksuarez/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: Levenshtein==0.25.1 in /Users/vksuarez/anaconda3/lib/python3.11/site-packages (from python-Levenshtein) (0.25.1)
Requirement already satisfied: rapidfuzz<4.0.0,>=3.8.0 in /Users/vksuarez/anaconda3/lib/python3.11/site-packages (from Levenshtein==0.25.1->python-Levenshtein) (3.8.1)
Requirement already satisfied: six>=1.5 in /Users/vksuarez/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pandas as pd
from fuzzywuzzy import process

# Cargar el dataset
df = pd.read_csv('tu_archivo.csv')  # Asegúrate de cambiar 'tu_archivo.csv' por el nombre de tu archivo

# Lista de categorías principales basada en títulos comunes de trabajo
categorias_principales = [
    "Data Analyst", "Software Engineer", "Project Manager", "Product Manager",
    "Account Manager", "Sales Representative", "Data Scientist", "Business Analyst",
    "Marketing Manager", "Graphic Designer", "UX/UI Designer", "Operations Manager",
    "Financial Analyst", "Human Resources Manager", "Administrative Assistant",
    "Customer Service Representative", "Web Developer", "Network Engineer",
    "Systems Analyst", "Consultant", "Quality Assurance Engineer", "SEO Specialist"
]

# Función para categorizar los trabajos
def categorizar_posicion(posicion):
    # Encuentra la coincidencia más cercana de la posición en la lista de categorías principales
    categoria, score = process.extractOne(posicion, categorias_principales)
    # Puedes ajustar el umbral de score según lo necesites para hacerlo más o menos estricto
    if score > 85:
        return categoria
    else:
        return "Otro"

# Aplicar la función a la columna 'job'
df['categoria'] = df['job'].apply(categorizar_posicion)

# Guardar los resultados en un nuevo CSV
df.to_csv('tu_archivo_categorizado.csv', index=False)

# Imprimir las categorías únicas
print(df['categoria'].unique())

FileNotFoundError: [Errno 2] No such file or directory: 'tu_archivo.csv'

#### Codificación de variables categóricas

#### Transformación de variables numéricas

#### Escalamiento de variables

#### Discretización de variables

### 2.- Del dataframe obtenido realizar una clusterización mediante los algoritmos

#### -  Kmeans++

#### -  Arboles de decisión

#### -  Clustering jerárquico.

#### Gráficas y análisis de resultados.

### 3.- Finalmente, del conjunto de datos, identificar la o las variables de salida y las variables de entrada para entrenar algún algoritmo de ML (Arboles de desición, Regresiones lineales, etc… ), se requiere obtener un accuracy arriba del 80%, si el accuracy está por debajo de este valor, entonces será necesario repetir el punto 1.

#### Variable o variables de salida y de entrada que se usarán para entrenar al algoritmo de ML

#### código con el modelo de árbol de decisión

#### código con el modelo de regresión lineal

#### Celda para calcular el score

In [11]:
import pandas as pd
from fuzzywuzzy import process

In [12]:
df = pd.read_csv('linkedin.csv')

In [13]:
df.head()

,job_ID,job,location,company_id,company_name,work_type,full_time_remote,no_of_employ,no_of_application,posted_day_ago,alumni,Hiring_person,linkedin_followers,hiring_person_link,job_details,Column1
0,3471657636,"Data Analyst, Trilogy (Remote) - $60,000/year USD","Delhi, Delhi, India",NaN,Crossover,Remote,Full-time · Associate,"1,001-5,000 employees · IT Services and IT Con...",200,8 hours,12 company alumni,NaN,"5,395,547 followers",NaN,About the job Crossover is the world's #1 sour...,NaN
1,3471669068,"Data Analyst, Trilogy (Remote) - $60,000/year USD","New Delhi, Delhi, India",NaN,Crossover,Remote,Full-time · Associate,"1,001-5,000 employees · IT Services and IT Con...",184,8 hours,12 company alumni,NaN,"5,395,547 followers",NaN,About the job Crossover is the world's #1 sour...,NaN
2,3474349934,Data Analyst - WFH,Greater Bengaluru Area,NaN,Uplers,Remote,Full-time · Mid-Senior level,"1,001-5,000 employees · IT Services and IT Con...",200,9 hours,3 company alumni,Shahid Ahmad,NaN,https://www.linkedin.com/in/shahid-ahmad-a2613...,About the job Profile: ML EngineersExperience:...,NaN
3,3472816027,Data Analyst,"Gurugram, Haryana, India",NaN,PVAR SERVICES,On-site,Full-time,1-10 employees,200,7 hours,NaN,Vartika Singh,"2,094 followers",https://www.linkedin.com/in/vartika-singh-,About the job Designation: Data AnalystLocatio...,NaN
4,3473311511,Data Analyst,"Mohali district, Punjab, India",NaN,Timeline Freight Brokers,On-site,Full-time,1-10 employees,8,26 minutes,1 company alumni,Manisha (Gisele Smith),NaN,https://www.linkedin.com/in/manisharathore0029,About the job The ideal candidate will use the...,NaN

In [15]:
categorias_principales = [
    "Data Analyst", "Software Engineer", "Project Manager", "Product Manager",
    "Account Manager", "Sales Representative", "Data Scientist", "Business Analyst",
    "Marketing Manager", "Graphic Designer", "UX/UI Designer", "Operations Manager",
    "Financial Analyst", "Human Resources Manager", "Administrative Assistant",
    "Customer Service Representative", "Web Developer", "Network Engineer",
    "Systems Analyst", "Consultant", "Quality Assurance Engineer", "SEO Specialist"
]

In [18]:
def categorizar_posicion(posicion):
    # Check if the input is a string
    if isinstance(posicion, str):
        categoria, score = process.extractOne(posicion, categorias_principales)
        if score > 85:
            return categoria
        else:
            return "Otro"
    else:
        # Return 'Otro' or a specific category for missing/invalid data
        return "No especificado"

In [19]:
df['categoria'] = df['job'].apply(categorizar_posicion)

In [20]:
df.head()

,job_ID,job,location,company_id,company_name,work_type,full_time_remote,no_of_employ,no_of_application,posted_day_ago,alumni,Hiring_person,linkedin_followers,hiring_person_link,job_details,Column1,categoria
0,3471657636,"Data Analyst, Trilogy (Remote) - $60,000/year USD","Delhi, Delhi, India",NaN,Crossover,Remote,Full-time · Associate,"1,001-5,000 employees · IT Services and IT Con...",200,8 hours,12 company alumni,NaN,"5,395,547 followers",NaN,About the job Crossover is the world's #1 sour...,NaN,Data Analyst
1,3471669068,"Data Analyst, Trilogy (Remote) - $60,000/year USD","New Delhi, Delhi, India",NaN,Crossover,Remote,Full-time · Associate,"1,001-5,000 employees · IT Services and IT Con...",184,8 hours,12 company alumni,NaN,"5,395,547 followers",NaN,About the job Crossover is the world's #1 sour...,NaN,Data Analyst
2,3474349934,Data Analyst - WFH,Greater Bengaluru Area,NaN,Uplers,Remote,Full-time · Mid-Senior level,"1,001-5,000 employees · IT Services and IT Con...",200,9 hours,3 company alumni,Shahid Ahmad,NaN,https://www.linkedin.com/in/shahid-ahmad-a2613...,About the job Profile: ML EngineersExperience:...,NaN,Data Analyst
3,3472816027,Data Analyst,"Gurugram, Haryana, India",NaN,PVAR SERVICES,On-site,Full-time,1-10 employees,200,7 hours,NaN,Vartika Singh,"2,094 followers",https://www.linkedin.com/in/vartika-singh-,About the job Designation: Data AnalystLocatio...,NaN,Data Analyst
4,3473311511,Data Analyst,"Mohali district, Punjab, India",NaN,Timeline Freight Brokers,On-site,Full-time,1-10 employees,8,26 minutes,1 company alumni,Manisha (Gisele Smith),NaN,https://www.linkedin.com/in/manisharathore0029,About the job The ideal candidate will use the...,NaN,Data Analyst

In [21]:
df.to_csv('tu_archivo_categorizado.csv', index=False)

In [23]:
print(df['categoria'].unique())

['Data Analyst' 'Otro' 'Quality Assurance Engineer' 'Web Developer'
 'Business Analyst' 'Network Engineer' 'Software Engineer'
 'Marketing Manager' 'Data Scientist' 'Project Manager' 'Consultant'
 'Administrative Assistant' 'No especificado' 'SEO Specialist'
 'Systems Analyst' 'Product Manager' 'Human Resources Manager'
 'Financial Analyst' 'Sales Representative' 'Operations Manager'
 'Account Manager' 'UX/UI Designer' 'Customer Service Representative'
 'Graphic Designer']